
# Ignore everything, everywhere EXCEPT files written by the user, namely: 
#	1. question.tex 
#	2. Any .gnuplot files ( but not generated .table files )
#	3. Makefiles ( obviously )

*.dvi
*.ps
*.aux
*.log
*.table
*.out
*.tex
!question.tex
!shared/*.tex

mint/*
!mint/Makefile

vault/*/Makefile

atm/
locker/
staging/

cron-jobs/*
!cron-jobs/scripts

*.swp
*.pdf
*.jpeg
!front-desk/previews/yardsticks/*/*.jpeg
*.jpg
*.zip
