
# Ignore everything, everywhere EXCEPT files written by the user, namely: 
#	1. question.tex 
#	2. Any .gnuplot files ( but not generated .table files )
#	3. Makefiles ( obviously )

*.anx
*.dvi
*.ps
*.aux
*.log
*.table
*.out
*.tex
skel
compiled

!question.tex
!shared/replacements/*/*.tex
!shared/*.tex
!shared/templates/*.tex

blueprint
compilation_finished
shell-script
gold.*
tmp.*
*.bak
old.mk

mint/*

Makefile
!mint/Makefile


atm/
locker/
staging/

minthril/*

cron-jobs/*
!cron-jobs/scripts

*.swp
*.pdf
*.jpeg
!front-desk/previews/yardsticks/*/*.jpeg
*.jpg
*.zip
