
# Generated SVG files and layout.xml
# Version 2016 

*.svg
!img_[[:alnum:]]*.svg
!vault/svg-library/*.svg

last_compiled_on
Makefile

*.tex
!source.tex

*.xml
!source.xml

### Deprecated clauses 

*.lbl
*.anx
*.dvi
*.ps
*.aux
*.log
*.table
*.out
*.png
skel
compiled
codex.cdx

!vault/humor/*/funny.png

compilation_finished
shell-script
gold.*
tmp.*
*.bak
old.mk

mint/*

!mint/Makefile


atm/
locker/
staging/

minthril/*

cron-jobs/*
!cron-jobs/scripts

*.swp
*.pdf
*.jpeg
!front-desk/previews/yardsticks/*/*.jpeg
*.jpg
*.zip
!vault/common/hwi.jpeg
